body{
    font-size: 16px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

:root{
    --light-grey:#d3d3d3 ;
    --dark-grey:#a9a9a9;
}

@keyframes loadingAnimation{
    from{background-color: var(--dark-grey);}
    to{
        background-color: var(--light-grey); 
        scale: 1.3;
    }
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 20px);
    column-gap: 20px;
    
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation: loadingAnimation infinite alternate 5s;
}



