body{
    margin: 0;
    padding: 0;
}

:root{
    --colour-1: #BA42C0;
    --colour-2: #C669D2;
    --colour-3: #D291E3;
    --colour-4: #DEB8F5;
}

.container, .circle{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.circle{
   border-radius: 100%;
}

.circle-1{
    background-color: var(--colour-1);
    height: 200px;
    width: 200px;
}

.circle-2{
    background-color: var(--colour-2);
    height: 150px;
    width: 150px;  
}

.circle-3{
    background-color: var(--colour-3);
    height: 100px;
    width: 100px;   
}

.circle-4{
    background-color: var(--colour-4);
    height: 50px;
    width: 50px;   
}