body{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root{
    --black: #000000;
    --red: #de0002;
    --yellow: #ffce00;
    --flag-height: 150px;
}

.container{
    height: var(--flag-height);
    width: calc(var(--flag-height) * 5/4);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 1px 1px 5px black;
}

.flag-stripe-1{
    background-color: var(--black);
}

.flag-stripe-2{
    background-color: var(--red);
}

.flag-stripe-3{
    background-color: var(--yellow);
}