body{
   display: flex;
   justify-content: center;
   align-items: center; 
   height: 100vh;
   align-items: center;
}

:root{
    --blue: #0269a6;
    --yellow: #fecc00;
    --flag-height: 150px;
}

.flag-container{
    height: var(--flag-height);
    width: calc(var(--flag-height) * 8/5);
    background-color: var(--blue);
    box-shadow: 1px 1px 5px black;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(7, 1fr);
}

.stripe-1{
    background-color: var(--yellow);
    grid-column: 3;
    grid-row: 1/-1;
}

.stripe-2{
    background-color: var(--yellow);
    grid-row: 3;
    grid-column: 1/-1;
}